<div class="container mx-auto h-screen">
  <section class="flex items-center justify-center h-full bg-gray-700 bg-opacity-70">
    <div class="text-center px-4 w-full h-full">
      <h2 class="text-5xl font-bold mb-6 text-white">Proposte da Revisare</h2>

      <table class="min-w-full bg-gray-800 border border-gray-700 rounded-lg shadow-lg mb-6" style="width: 100%;">
        <thead>
        <tr class="bg-gray-900">
          <th class="px-6 py-3 text-center text-white">Descrizione</th>
          <th class="px-6 py-3 text-center text-white">Test Case</th>
          <th class="px-6 py-3 text-center text-white">Azione</th>
        </tr>
        </thead>
        <tbody>
        <% @challenges.where(status: -1).each do |challenge| %>
          <tr class="border-b border-gray-700">
            <td class="px-6 py-4 text-white"><%= challenge.description %></td>
            <td class="px-6 py-4 text-white">
              <ul>
                <% challenge.test_cases.each do |test_case| %>
                  <li>Input: <%= test_case.input_example %>, Output: <%= test_case.expected_output %></li>
                <% end %>
              </ul>
            </td>
            <td class="px-6 py-4 text-center">
              <%= button_to 'Accetta', update_status_path(challenge.id, status: 1), method: :post, class: "bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded transition duration-300" %>

              <button type="button" class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded transition duration-300" onclick="rejectChallenge(<%= challenge.id %>)">Rifiuta</button>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="mt-10 mb-6">
        <%= link_to 'Torna alla Home', root_path, class: 'bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded transition duration-300' %>
      </div>

    </div>
  </section>
</div>

<script>
    function rejectChallenge(challengeId) {
        const reason = prompt('Inserisci il motivo del rifiuto:');
        if (reason !== null && reason.trim() !== "") {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = `/challenges/${challengeId}/update_status`;

            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'authenticity_token';
            csrfInput.value = csrfToken;
            form.appendChild(csrfInput);

            const statusInput = document.createElement('input');
            statusInput.type = 'hidden';
            statusInput.name = 'status';
            statusInput.value = 0;
            form.appendChild(statusInput);

            const reasonInput = document.createElement('input');
            reasonInput.type = 'hidden';
            reasonInput.name = 'rejection_reason';
            reasonInput.value = reason;
            form.appendChild(reasonInput);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
