<div class="container mx-auto h-screen">
  <section class="flex items-center justify-center h-full bg-gray-800 bg-opacity-90">
    <div class="text-center px-4 w-full h-full">

      <!-- Sezione Proposte da Revisionare -->
      <div class="mb-6">
        <button onclick="toggleSection('challenges')" class="w-full text-left bg-gray-700 text-white font-bold py-3 px-4 rounded-lg">
          Proposte da Revisionare
        </button>
        <div id="challenges" class="hidden mt-2">
          <table class="min-w-full bg-gray-900 border border-gray-800 rounded-lg shadow-lg mb-6">
            <thead>
            <tr class="bg-gray-700">
              <th class="px-6 py-3 text-center text-white">Descrizione</th>
              <th class="px-6 py-3 text-center text-white">Test Case</th>
              <th class="px-6 py-3 text-center text-white">Azione</th>
            </tr>
            </thead>
            <tbody>
            <% @challenges.each do |challenge| %>
              <tr class="border-b border-gray-800 hover:bg-gray-700 transition duration-200">
                <td class="px-6 py-4 text-white"><%= challenge.description %></td>
                <td class="px-6 py-4 text-white">
                  <ul class="list-disc list-inside">
                    <% challenge.test_cases.each do |test_case| %>
                      <li>Input: <%= test_case.input_example %>, Output: <%= test_case.expected_output %></li>
                    <% end %>
                  </ul>
                </td>
                <td class="px-6 py-4 text-center">
                  <%= button_to 'Accetta', update_status_challenge_path(challenge.id, status: 1), method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 transform hover:scale-105", data: { action: 'accept', challenge_id: challenge.id } %>
                  <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 transform hover:scale-105 mt-2 ml-2" onclick="rejectChallenge(<%= challenge.id %>)"> Rifiuta </button>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Sezione Utenti non Admin -->
      <div class="mb-6">
        <button onclick="toggleSection('non-admin-users')" class="w-full text-left bg-gray-700 text-white font-bold py-3 px-4 rounded-lg">
          Utenti non Admin
        </button>
        <div id="non-admin-users" class="hidden mt-2">
          <table class="min-w-full bg-gray-900 border border-gray-800 rounded-lg shadow-lg mb-6">
            <thead>
            <tr class="bg-gray-700">
              <th class="px-6 py-3 text-center text-white">Nome</th>
              <th class="px-6 py-3 text-center text-white">Email</th>
              <th class="px-6 py-3 text-center text-white">Azione</th>
            </tr>
            </thead>
            <tbody>
            <% @non_admin_users.each do |user| %>
              <tr class="border-b border-gray-800 hover:bg-gray-700 transition duration-200">
                <td class="px-6 py-4 text-white"><%= user.name %></td>
                <td class="px-6 py-4 text-white"><%= user.email %></td>
                <td class="px-6 py-4 text-center">
                  <%= button_to 'Promuovi a Admin', promote_to_admin_profiles_path(user.id), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300", data: { action: 'promote', user_id: user.id } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mt-10 mb-6">
        <%= link_to 'Torna alla Home', root_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300' %>
      </div>
    </div>
  </section>
</div>

<script>
    // Funzione per toggle delle sezioni
    function toggleSection(sectionId) {
        const section = document.getElementById(sectionId);
        section.classList.toggle('hidden');

        // Salva lo stato nel localStorage
        const isHidden = section.classList.contains('hidden');
        localStorage.setItem(sectionId, isHidden ? 'hidden' : 'visible');
    }

    // Funzione per caricare lo stato delle sezioni al caricamento della pagina
    function loadSectionStates() {
        const challengeState = localStorage.getItem('challenges');
        const nonAdminUserState = localStorage.getItem('non-admin-users');

        if (challengeState === 'visible') {
            document.getElementById('challenges').classList.remove('hidden');
        }
        if (nonAdminUserState === 'visible') {
            document.getElementById('non-admin-users').classList.remove('hidden');
        }
    }

    // Funzione per salvare lo stato delle sezioni
    function saveSectionStates() {
        const challengesSection = document.getElementById('challenges');
        const nonAdminUsersSection = document.getElementById('non-admin-users');

        localStorage.setItem('challenges', challengesSection.classList.contains('hidden') ? 'hidden' : 'visible');
        localStorage.setItem('non-admin-users', nonAdminUsersSection.classList.contains('hidden') ? 'hidden' : 'visible');
    }

    window.onload = loadSectionStates;

    // Funzione per accettare un challenge e mantenere lo stato del menu
    function acceptChallenge(challengeId) {
        saveSectionStates();
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/challenges/${challengeId}/update_status`;

        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'authenticity_token';
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);

        const statusInput = document.createElement('input');
        statusInput.type = 'hidden';
        statusInput.name = 'status';
        statusInput.value = 1;
        form.appendChild(statusInput);

        document.body.appendChild(form);
        form.submit();
    }

    function rejectChallenge(challengeId) {
        const reason = prompt('Inserisci il motivo del rifiuto:');
        if (reason !== null) {
            if (reason.trim() !== "") {
                saveSectionStates();
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `/challenges/${challengeId}/update_status`;

                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const csrfInput = document.createElement('input');
                csrfInput.type = 'hidden';
                csrfInput.name = 'authenticity_token';
                csrfInput.value = csrfToken;
                form.appendChild(csrfInput);

                const statusInput = document.createElement('input');
                statusInput.type = 'hidden';
                statusInput.name = 'status';
                statusInput.value = 0;
                form.appendChild(statusInput);

                const reasonInput = document.createElement('input');
                reasonInput.type = 'hidden';
                reasonInput.name = 'rejection_reason';
                reasonInput.value = reason;
                form.appendChild(reasonInput);

                document.body.appendChild(form);
                form.submit();
            } else {
                alert("Il motivo del rifiuto non può essere vuoto.");
            }
        }
    }
</script>
