<%= content_for :page_title, "Challenge Proposal: #{@challenge_proposal.title}" %>

<div class="max-w-4xl mx-auto p-6 bg-gray-800 rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-white mb-4">Challenge Proposal: <%= @challenge_proposal.title %></h1>

  <div class="mb-6">
    <h2 class="text-2xl font-semibold text-white mb-2">Description</h2>
    <p class="text-gray-300"><%= @challenge_proposal.description %></p>
  </div>

  <div class="mb-6">
    <h2 class="text-2xl font-semibold text-white mb-2">Language</h2>
    <p class="text-gray-300"><%= @challenge_proposal.language %></p>
  </div>

  <div class="mb-6">
    <h2 class="text-2xl font-semibold text-white mb-2">Test Cases</h2>
    <% if @test_cases!="" %>
      <h2><%=@test_cases %></h2>
    <% else %>
      <p class="text-gray-300">No test cases provided.</p>
    <% end %>
  </div>

  <div class="mt-6 flex justify-end">
    <%= link_to 'Back to Home', root_path, class: "ml-4 bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 transition" %>
  </div>
</div>
