<div class="flex items-start space-x-3 p-2 bg-gray-800 rounded-lg shadow-md mb-2">
  <div class="flex-shrink-0">
    <% if chat_message.user.profile_image.attached? %>
      <%= image_tag chat_message.user.profile_image_thumbnail, class: "rounded-full w-10 h-10 object-cover border-2 border-indigo-500 shadow-md" %>
    <% else %>
      <%= image_tag 'profile-placeholder.png', alt: 'Profile Image', class: 'rounded-full w-10 h-10 object-cover border-2 border-indigo-500 shadow-md' %>
    <% end %>
  </div>
  <div class="flex-1">
    <div class="flex items-center space-x-2">
      <span class="font-semibold text-blue-400"><%= chat_message.user.username %>:</span>
      <span class="text-xs text-gray-500"><%= chat_message.created_at.strftime("%H:%M") %></span>
    </div>
    <p class="mt-1 break-all text-white bg-gray-900 p-2 rounded-lg shadow-inner">
      <%= chat_message.content %>
    </p>
  </div>
</div>
