<div class="flex items-start space-x-3 p-2 bg-neutral-700 border border-white rounded-lg shadow-md mb-2">
  <div class="flex-shrink-0">
    <% if chat_message.user.profile_image.attached? %>
      <%= image_tag chat_message.user.profile_image_thumbnail, class: "rounded-full w-10 h-10 object-cover border border-neutral-900 shadow-md" %>
    <% else %>
      <%= image_tag 'profile-placeholder.png', alt: 'Profile Image', class: 'rounded-full w-10 h-10 object-cover border border-neutral-900 shadow-md' %>
    <% end %>
  </div>
  <div class="flex-1">
    <div class="flex items-center space-x-2">
    <% if chat_message.user==current_user %>
      <span class="font-semibold text-blue-500"><%= chat_message.user.username %>:</span>
    <%else%>
      <span class="font-semibold text-red-500"><%= chat_message.user.username %>:</span>
    <% end %>
      <span class="text-xs text-neutral-200"><%= chat_message.created_at.strftime("%H:%M") %></span>
    </div>
    <p class="mt-1 break-all text-black bg-gray-300 p-2 rounded-lg shadow-inner">
      <%= chat_message.content %>
    </p>
  </div>
</div>
