<div class="flex flex-col h-full w-full">
  <!-- Header Section -->
  <div class="flex flex-col text-center p-4 ">
    <h1 class="text-xl text-white">Dettagli della Sfida</h1>
    <div class="text-white">
      <p><strong>Player 1:</strong> <%= @match.player_1.name %></p>
      <p><strong>Player 2:</strong> <%= @match.player_2.name %></p>
      <p><strong>Language:</strong> <%= @match.language %></p>
    </div>
  </div>

  <!-- Main Content Section -->
  <%= form_with(url: execute_code_path, method: :post, id: 'execute-form', class: "overflow-hidden") do %>

    <div class="flex flex-row justify-center space-x-10 px-4 py-6 ">
      <!-- Left Column -->
      <div class="flex flex-col grow resize-none space-y-4 text-white">

        <!-- Box Codice -->
        <div class="flex flex-col bg-black h-[40rem] p-4 rounded-lg shadow-md">

          <div class="flex flex-row py-2 justify-between">
            <h2 class="text-lg font-bold text-center">CODICE</h2>
            <h2 class="text-lg font-bold text-center"> <%=@selected_language %></h2>
            <%= hidden_field_tag :language, @selected_language, id: 'hidden-language-selection' %>
          </div>

          <div class="overflow-auto">
            <div id="code-editor" data-language=<%=@selected_language %>>
              <%= hidden_field_tag :code, '', id: 'hidden-code-input' %>
            </div>
          </div>

        </div>

        <!-- Box Console -->
        <div class="flex flex-col bg-black p-4 h-[20rem] rounded-lg shadow-md">
          <h2 class="text-lg font-bold text-center">CONSOLE</h2>
          <div class="bg-[#2d2d2d] text-white mt-2 p-4 h-full overflow-auto">
            <pre id="output" class="text-lime-500 font-roboto">

            </pre>
            </div>
          </div>
        </div>


      <!-- Right Column -->
      <div class="w-1/5 p-4 flex flex-col space-y-6">
        <%= submit_tag "Run Code", id: "submit-code", class: "px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 w-full" %>
        <!-- Box Chat -->
        <div class="flex flex-col bg-black p-4 h-1/4 rounded-lg shadow-md">
          <h2 class="text-lg font-bold text-center">CHAT</h2>
          <div class="bg-gray-600 text-white mt-2 h-full overflow-auto">
            <div id="chat" class="w-full">
            </div>
          </div>
        </div>
        <%= submit_tag "Surrend", class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 w-full" %>
      </div>
    </div>

  <% end %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById('execute-form');
        const output = document.getElementById('output');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Gather form data
            const formData = new FormData(form);
            formData.set("code", editor.state.doc.toString().trimEnd())
            // Perform the AJAX request using Fetch API
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json', // Expect JSON response
                },
                body: formData
            })
                .then(response => response.json()) // Parse JSON response
                .then(data => {
                    // Update the output area with the result
                    output.textContent = data.output // Assuming the API returns { "result": "..." }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>
