<div class="flex flex-col h-full w-full bg-gray-900 text-white">
  <!-- Header Section -->
  <div class="flex flex-col text-center p-4 bg-gray-800 border-b border-gray-700">
    <h1 class="text-3xl font-bold text-white mb-2">Dettagli della Sfida</h1>
    <div class="text-white space-y-2">
      <p><strong>Player 1:</strong> <%= @match.player_1.username %></p>
      <p><strong>Player 2:</strong> <%= @match.player_2.username %></p>
      <p><strong>Language:</strong> <%= @match.language %></p>
      <input type="hidden" id="match-id" value="<%= @match.id %>" />
    </div>
  </div>

  <div class="hidden">
    <meta name="csrf-token" content="<%= csrf_meta_tags %>">
  </div>

  <!-- Main Content Section -->
  <div class="flex flex-row justify-center space-x-8 px-6 py-6 overflow-auto">
    <!-- Left Column -->
    <div class="flex flex-col grow space-y-6 max-w-5xl">
      <!-- Challenge Info Box -->
      <div class="flex flex-col bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold text-white mb-4">Challenge Info</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="flex flex-col">
            <span class="text-sm font-semibold text-gray-400">Title</span>
            <span class="text-lg font-bold text-white"><%= @challenge.title %></span>
          </div>
          <div class="flex flex-col">
            <span class="text-sm font-semibold text-gray-400">Difficulty</span>
            <span class="text-lg font-bold text-white capitalize"><%= @challenge.difficulty %></span>
          </div>
          <div class="flex flex-col md:col-span-3">
            <span class="text-sm font-semibold text-gray-400">Description</span>
            <p class="text-white mt-1"><%= @challenge.description %></p>
          </div>
        </div>
      </div>

      <!-- Code Editor Box -->
      <div class="flex flex-col bg-gray-800 h-[30rem] p-4 rounded-lg shadow-lg">
        <div class="flex flex-row py-2 justify-between items-center border-b border-gray-700 mb-4">
          <h2 class="text-lg font-bold">CODE</h2>
          <h2 class="text-lg font-bold"><%= @challenge.language %></h2>
        </div>
        <div class="h-full">
          <div id="code-editor-dark" class="bg-black rounded-lg p-2"></div>
          <div id="code-editor-light" class="bg-black rounded-lg p-2 hidden"></div>
        </div>
      </div>

      <!-- Console Box -->
      <div class="flex flex-col bg-gray-800 p-4 h-[15rem] rounded-lg shadow-lg">
        <h2 class="text-lg font-bold text-center">CONSOLE</h2>
        <div class="bg-[#2d2d2d] text-white mt-2 p-4 h-full overflow-auto rounded-lg">
          <pre id="output" class="text-lime-500 font-mono"></pre>
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="flex flex-col min-w-lg p-4 space-y-6 bg-gray-800 rounded-lg shadow-lg">

      <!-- Timer -->
      <div class="flex justify-center mt-4">
        <h2 id="timer" class="text-2xl font-bold text-white"></h2>
      </div>
      <div class="mt-4">
        <button id="switch-theme" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-all">
          Change Theme
        </button>
      </div>
      <!-- Timeout Form -->
      <%= form_with(url: match_timeout_path(@match), method: :post, id: 'timeout-form', local: true, style: 'display:none;') do |form| %>
        <%= hidden_field_tag :match_id, @match.id %>
      <% end %>

      <!-- Run Code Button -->
      <%= form_with(url: match_execute_code_path(@match.id), method: :post, id: 'execute-form', class: "overflow-hidden", local: false) do |form| %>
        <%= hidden_field_tag :language, @challenge.language, id: 'hidden-language-selection' %>
        <%= hidden_field_tag :code, '', id: 'hidden-dark-input' %>
        <%= hidden_field_tag :code, '', id: 'hidden-light-input' %>
        <%= hidden_field_tag :match_id, @match.id %>
        <%= form.submit "Run Code", id: "submit-code", class: "px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 w-full transition duration-200" %>
      <% end %>

      <!-- Chat Box -->
      <div class="flex flex-col bg-gray-800 p-4 max-h-[26rem] rounded-lg shadow-lg">
        <h2 class="text-lg font-bold text-center mb-2">CHAT</h2>
        <div class="bg-gray-700 text-white p-2 h-full overflow-y-auto rounded-lg max-h-[26rem]" id="chat-container">
          <div id="chat" class="w-full space-y-2">
            <%= render @match.chat_messages.includes(:user) %>
          </div>
        </div>
      </div>

      <% if can? :create, ChatMessage %>
        <!-- Message Form -->
        <%= form_with model: [@match, ChatMessage.new], id: 'chat-form', local: false, class: "flex flex-col space-y-2" do |form| %>
          <%= form.text_field :content, id: 'chat-input', class: 'w-full px-3 py-2 text-black rounded mb-2', placeholder: 'Write a message...', autocomplete: 'off', data: { user_id: current_user.id } %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit 'Send', class: 'px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-200' %>
        <% end %>
      <%else %>
        <%= form_with model: [@match, ChatMessage.new], id: 'chat-form', local: false, class: "flex flex-col space-y-2" do |form| %>
          <%= form.text_field :content, id: 'chat-input', class: 'w-full px-3 py-2 text-black rounded mb-2', placeholder: 'You cannot chat...', autocomplete: 'off', data: { user_id: current_user.id }, disabled: true %>
          <%= form.hidden_field :user_id, value: current_user.id, disabled: true %>
          <%= form.submit 'Send', class: 'px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-200', disabled: true %>
        <% end %>

    <%end %>
      <!-- Surrender Button -->
      <%= form_with(url: match_surrender_path(@match), method: :post, id: 'surrender-form', local: true) do |form| %>
        <%= form.submit "Surrender", id: "surrender-submit", class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 w-full transition duration-200" %>
      <% end %>
    </div>
  </div>
</div>

<script type="module">
    import { initializeCodeMirror } from "codemirror_setup";
    import { create_executable } from "code_generation";
    import { subscribeToMatchAndSubmissionChannels } from "match_subscription";

    let code_template = <%= @challenge.code_template.to_json.html_safe %>;
    let currentLanguage = <%= @match.language.to_json.html_safe %>;
    let test_template = <%= @challenge.test_template.to_json.html_safe %>;
    const match_id = "<%= @match.id %>";
    const user_id = "<%= current_user.id %>";
    subscribeToMatchAndSubmissionChannels(match_id, user_id);
    const form = document.getElementById('execute-form');
    const output = document.getElementById('output');
    const dark_editor = document.getElementById('code-editor-dark');
    const light_editor = document.getElementById('code-editor-light');
    const dark_hidden_code = document.getElementById('hidden-dark-input');
    const light_hidden_code = document.getElementById('hidden-light-input');
    const dark_editor_instance = initializeCodeMirror(dark_editor, form, dark_hidden_code, code_template, currentLanguage, 20, "dark")
    const light_editor_instance = initializeCodeMirror(light_editor, form, light_hidden_code, code_template, currentLanguage, 20, "light")
    let current_theme = "dark"
    form.addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent the default form submission
        // Gather form data
        const formData = new FormData(form);
        const hidden_code = current_theme==="dark" ? dark_hidden_code : light_hidden_code
        formData.set("code", create_executable(currentLanguage, hidden_code.value, test_template));
        console.log(formData)
        // Perform the AJAX request using Fetch API
        fetch(form.action, {
            method: 'POST',
            headers: {
                'Accept': 'application/json', // Expect JSON response
            },
            body: formData
        })
          .then(response => response.json())  // Return the parsed JSON
          .then(data => {
              // Update the output area with the result
              output.textContent = data.output;
          })
          .catch(error => console.error('ERROR:', error));
    });
    // TIMER
    const timerElement = document.getElementById('timer');
    const timerExpiresAt = new Date("<%= @match.timer_expires_at.iso8601 %>");
    function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
    function updateTimer() {
        const now = new Date();
        const timeRemaining = timerExpiresAt - now;

        if (timeRemaining <= 0) {
            timerElement.textContent = "Time's up!";
            clearInterval(timerInterval);

            fetch("<%= match_timeout_path(@match.id) %>", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': getCSRFToken()
                },
            })
                .then(response => response.json())
                .then(data => {
                    console.log("Timeout response:", data);
                })
                .catch(error => console.error('ERROR:', error));
        } else {
            const minutes = Math.floor(timeRemaining / 1000 / 60);
            const seconds = Math.floor((timeRemaining / 1000) % 60);
            timerElement.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        }
    }
    const timerInterval = setInterval(updateTimer, 1000);
    updateTimer();


    const changeThemeButton = document.querySelector("#switch-theme")

    changeThemeButton.addEventListener("click", ()=>{
        console.log(current_theme)
        if(current_theme==="dark"){
            dark_editor.classList.add("hidden")
            light_editor.classList.remove("hidden")
            current_theme="light"
        }
        else{
            light_editor.classList.add("hidden")
            dark_editor.classList.remove("hidden")
            current_theme="dark"
        }
    })


</script>
