<div class="w-full mx-auto p-8 bg-gray-800 rounded-lg shadow-md overflow-auto">
  <h2 class="text-2xl font-bold text-white mb-4">Challenge Details</h2>

  <!-- Challenge Title -->
  <div class="mb-4">
    <h3 class="text-lg font-semibold text-white">Title:</h3>
    <p class="text-gray-300"><%= @challenge_proposal.title %></p>
  </div>

  <!-- Challenge Description -->
  <div class="mb-4">
    <h3 class="text-lg font-semibold text-white">Description:</h3>
    <p class="text-gray-300"><%= @challenge_proposal.description %></p>
  </div>
  <div class="mb-4">
    <h3 class="text-lg font-semibold text-white">Language:</h3>
    <p class="text-gray-300"><%= @challenge_proposal.language %></p>
  </div>

  <!-- Form Start -->
  <%= form_with(model: @challenge, id: 'submit-form', class: "overflow-hidden flex flex-col") do |f| %>

    <!-- Difficulty Selection -->
    <div class="mb-4">
      <label for="difficulty" class="block text-white font-bold mb-2">Difficulty:</label>
      <%= f.select :difficulty, [['Easy', 'easy'], ['Medium', 'medium'], ['Hard', 'hard']],
                   { prompt: 'Select Difficulty' },
                   { id: 'difficulty', class: 'w-full p-2 bg-gray-700 text-white rounded-lg', required: true } %>
    </div>

    <div class="flex flex-col justify-center">
      <!-- Code Skeleton Editor -->
      <div class="mb-6">
        <label for="code_skeleton" class="block text-white font-bold mb-2">Code Skeleton</label>
        <div id="code_skeleton" class="w-full p-4 bg-gray-700 text-white rounded-lg">
          <!-- CodeMirror will go inside this div -->
        </div>
      </div>

      <!-- Test Skeleton Editor -->
      <div class="mb-6">
        <label for="test_skeleton" class="block text-white font-bold mb-2">Test Skeleton</label>
        <div id="test_skeleton" class="w-full p-4 bg-gray-700 text-white rounded-lg">
          <!-- CodeMirror will go inside this div -->
        </div>
      </div>
    </div>

    <!-- Hidden Fields for CodeMirror Content -->
    <%= f.hidden_field :code_template, id: 'hidden-code-skeleton-input' %>
    <%= f.hidden_field :test_template, id: 'hidden-test-skeleton-input' %>
    <%= f.hidden_field :title, value: @challenge_proposal.title %>
    <%= f.hidden_field :description, value: @challenge_proposal.description %>
    <%= f.hidden_field :language, value: @challenge_proposal.language %>
    <%= f.hidden_field :challenge_proposal_id, value: @challenge_proposal.id %>
    <!-- Submit Button -->
    <div class="flex justify-end">
      <%= f.submit "Save Challenge", class: "px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 w-full" %>
    </div>
  <% end %>
</div>



<script type="module">
    import { initializeCodeMirror } from "codemirror_setup"; // Reference the module by its name

    let currentLanguage = <%= @challenge_proposal.language.to_json.html_safe %>;
    const code_skeleton = document.getElementById('code_skeleton');
    const form = document.getElementById('submit-form');
    const hidden_code_skeleton_form = document.getElementById('hidden-code-skeleton-input');
    const test_skeleton = document.getElementById('test_skeleton');
    const hidden_test_skeleton_form = document.getElementById('hidden-test-skeleton-input');

    initializeCodeMirror(code_skeleton, form, hidden_code_skeleton_form, "", currentLanguage, 20);
    initializeCodeMirror(test_skeleton, form, hidden_test_skeleton_form, "", currentLanguage, 20);
</script>
