<div class="flex flex-col h-full w-full">
  <!-- Header Section -->
  <div class="flex flex-col text-center p-4 ">
    <h1 class="text-xl text-white">Dettagli della Sfida</h1>
    <div class="text-white">
      <p><strong>Giocatore 1:</strong> <%= @challenge.player_1.name %></p>
      <p><strong>Giocatore 2:</strong> <%= @challenge.player_2.name %></p>
      <p><strong>Status:</strong> <%= @challenge.status %></p>
    </div>
  </div>

  <!-- Main Content Section -->
  <%= form_with(url: execute_code_path, method: :post, id: 'execute-form', class: "overflow-hidden") do %>

    <div class="flex flex-row justify-center space-x-10 px-4 py-6 ">
      <!-- Left Column -->
      <div class="flex flex-col grow space-y-4 text-white">
        <!-- Box Selezione Linguaggio -->
        <div class="bg-[#4E31AA] p-4 shrink rounded-lg shadow-md">
          <h2 class="text-lg font-bold mb-2">Scegli un Linguaggio di Programmazione</h2>
          <%= select_tag :language, options_for_select([['Python', 'python3'], ['Java', 'java'], ['C++', 'cpp']], @selected_language), class: "w-full px-4 py-2 rounded border border-gray-600 bg-gray-800 text-white", id: "language-selector" %>
        </div>

        <!-- Box Codice -->
        <div class="flex flex-col bg-black p-4 rounded-lg h-1/2 shadow-md">
          <div>
            <h2 class="text-lg font-bold text-center">CODICE</h2>
          </div>
          <div class="mb-4 overflow-auto">
            <div id="code-editor" class="">
              <%= hidden_field_tag :code, '', id: 'hidden-code-input' %>
            </div>
          </div>
        </div>

        <!-- Box Console -->
        <div class="flex flex-col bg-black p-4 h-1/4 rounded-lg shadow-md">
          <h2 class="text-lg font-bold text-center">CONSOLE</h2>
          <div class="bg-[#2d2d2d] text-white mt-2 p-4 h-full overflow-auto">
            <div id="output" class="text-lime-500 p-4 font-roboto">

            </div>
            </div>
          </div>
        </div>


      <!-- Right Column -->
      <div class="w-1/5 p-4 flex flex-col space-y-6">
        <%= submit_tag "Run Code", id: "submit-code", class: "px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 w-full" %>
        <!-- Box Chat -->
        <div class="flex flex-col bg-black p-4 h-1/4 rounded-lg shadow-md">
          <h2 class="text-lg font-bold text-center">CHAT</h2>
          <div class="bg-gray-600 text-white mt-2 h-full overflow-auto">
            <div id="chat" class="w-full">
            </div>
          </div>
        </div>
        <%= submit_tag "Surrend", class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 w-full" %>
      </div>
    </div>

  <% end %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById('execute-form');
        const output = document.getElementById('output');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Gather form data
            const formData = new FormData(form);
            formData.set("code", editor.state.doc.toString().trimEnd())
            // Perform the AJAX request using Fetch API
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json', // Expect JSON response
                },
                body: formData
            })
                .then(response => response.json()) // Parse JSON response
                .then(data => {
                    // Update the output area with the result
                    output.textContent = data.output // Assuming the API returns { "result": "..." }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>
