<% icons = [
  { id: 'profile-icon', class: 'profile-icon', onclick: 'gotoProfile()', text: 'My Profile', alt: 'File Icon' },
  { id: 'challenge-friend-icon', class: 'challenge-friend-icon', onclick: 'openChallengeModal()', text: 'Challenge a Friend', alt: 'Challenge a Friend Icon' },
  { id: 'find-opponent-icon', class: 'find-opponent-icon', onclick: 'gotoPlayNow()', text: 'Find Opponent', alt: 'Find Opponent Icon' },
  { id: 'create-challenge-icon', class: 'create-challenge-icon', onclick: 'gotoNewChallenge()', text: 'Create Challenge', alt: 'Create Challenge Icon' },
  { id: 'leaderboard-icon', class: 'leaderboard-icon', onclick: 'gotoLeaderboard()', text: 'Leaderboard', alt: 'Leaderboard Icon' },
  { id: 'space-invaders-icon', class: 'space-invaders-icon', onclick: 'gotoSpaceInvaders()', text: 'Space Invaders', alt: 'Space Invaders Icon' }
] %>


<% if @current_user.registered? && @current_user.admin? %>
  <% icons << { id: 'admin-profile-icon', class: 'admin-profile-icon', onclick: 'gotoAdminProfile()', text: 'Admin Profile', alt: 'Admin Profile Icon' } %>
<% end %>

<% icons.each do |icon| %>
  <div id="<%= icon[:id] %>" class="<%= icon[:class] %>" ondblclick="<%= icon[:onclick] %>">
    <% icon_filename = "#{icon[:id]}.png" %>
    <img src="<%= asset_path(icon_filename) %>" alt="<%= icon[:alt] %>">
    <p><%= icon[:text] %></p>
  </div>
<% end %>