<!DOCTYPE html>
<html>
  <head>
    <title>CodeLegends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    body {
      height: 100%;
      background: #FAF8FF;
      margin: 0;
      font-family: 'Arial', sans-serif;
      min-height: 100vh;
      color: #6B6E70; 
    }
  </style>
  <body class="text-white h-full flex justify-center font-sans">
    <main class="container flex">
      <%= yield %>
    </main>
  </body>
</html>

