<!DOCTYPE html>
<html>
  <head>
    <title>CodeLegends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <style>
      body {
        height: 100%;
        margin: 0;
        font-family: 'Arial', sans-serif;
        min-height: 100vh;
        background-size: contain;
        background-color: #222831;
        background-image: url('<%= asset_path("background.png") %>');
        background-repeat: repeat;
      }
    </style>
  </head>
  <body class="text-white h-full flex justify-center font-sans">
  <main class="container flex">
    <% if flash[:alert] %>
      <div id="alert-popup" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 w-1/2 bg-red-100 border border-red-500 text-red-700 rounded-lg p-4 shadow-lg opacity-0 transition-opacity duration-500 ease-in-out">
        <span id="alert-message" class="font-medium"></span>
      </div>
    <% end %>
      <%= yield %>

    </main>



  <script>
      // Function to show the alert popup
      function showAlert(message) {
          const popup = document.getElementById('alert-popup');
          const messageElement = document.getElementById('alert-message');
          messageElement.textContent = message;
          popup.classList.remove('opacity-0');
          popup.classList.add('opacity-100');

          // Hide the alert after 5 seconds
          setTimeout(() => {
              popup.classList.remove('opacity-100');
              popup.classList.add('opacity-0');
          }, 5000);
      }

      // Example of how to trigger the alert from the server-side
      document.addEventListener('turbo:load', function() {
          <% if flash[:alert] %>
          showAlert("<%= j flash[:alert] %>");
          <% end %>
      });
  </script>
  </body>
</html>
